@use'font';
@use'var';


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
button{
	cursor: pointer;
}

.title-h2{
font-weight: 700;
font-size: 32px;
letter-spacing: 0.05em;
text-transform: uppercase;
}

body {
	font-weight: 400;
	line-height: 1.1;
	font-family: var.$font;
	color: var.$light;
	margin: 0;
	background-color: #1F2023;
	overflow-x: hidden;
}

.header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 71px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	&::before{
		content:'';
		width: 100%;
		height: 27px;
		position: absolute;
		top: 0;
		z-index: -1;
		background-color: var.$accent;
		display: block;
	}
	
	
	&__logo {
		background-color: var.$accent;
		padding: 17px 45px 0px 45px;
		border-radius: 10px 0 0 0;
		position: relative;
		&::before{
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background: url('../images/header_bottom_left.svg');
			position: absolute;
			background-repeat: no-repeat;
			background-size:contain;
			bottom: -24px;
			left: 0;
		}
		&::after{
			content: '';
			display: block;
			width: 71px;
			height: 71px;
			background-image: url('../images/header_left_center.svg');
			position: absolute;
			right: -71px;
			top: 0;
		}
		&_max{
			svg{
				width: 400px;
				height: 31px;
			}
		}
	}
	&__link{
		color:var.$light;
		font-size: 20px;
		text-underline-offset:6px;
		background-color: var.$accent;
		padding: 17px 55px 0px 35px;
		border-radius: 0 10px 0 0;
		position: relative;
		transition: var.$tr;
		&:hover{
			text-decoration: underline;
		}
		&::before{
			content: '';
			display: block;
			width: 71px;
			height: 71px;
			background-image: url('../images/header_right_center.svg');
			position: absolute;
			left: -71px;
			top: 0;
		}
		&::after{
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background: url('../images/header_bottom_right.svg');
			position: absolute;
			background-repeat: no-repeat;
			background-size:contain;
			bottom: -24px;
			right: 0;
		}
		
	}


	}

	.container{
		width: 100%;
		max-width: 1860px;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	// -----------section banner----------
	.banner{
		display: flex;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../images/bg-banner.jpg');
		border-radius: var.$br-max;
		padding: 100px 50px;
		margin-top: 135px;
		gap: 50px;

		&__main{
			flex-basis: 60%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__info{
			flex-basis: calc(40% - 50px);
		}

// ________________banner__main__________________

&__title{
	font-weight: 700;
	font-size: 64px;
	margin-bottom: 20px;
}
&__box{
	
}
&__btn{
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	background-color: var.$accent;
	color: var.$light;
	border-radius: var.$br-min;
	border: 1px solid var.$accent;
	padding: 54px;
	text-align: center;
	transition: var.$tr;
	@media(hover: hover) {
		&:hover{
			background-color: transparent;
			transition: var.$accent;
		}
	}
	
	}


// _________________banner__item________________		
&__item{
	display: flex;
	flex-direction: column;
	justify-content: end;
	border: 1px solid var.$light;
	border-right: none;
	border-radius: 20px 0 0 20px;
	height: 151px;
	position: relative;
	margin-right: 80px;
	padding: 30px;
	transition: var.$tr;
	z-index: 1;

	&+&{
		margin-top: 19px;
		}

	&:hover{
		border-color:rgba(0, 0, 0, 0);
		&::before{
			width: 100%;
			opacity: 1;
			transform: translateX(0) scale(1);
				}
				.banner__decor{
				background-color: var.$accent;
				border-color: var.$accent;
				&::after{
					opacity: 1;
					transform: translate(0,0) scale(1);
				}
				}
				}

&::before{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 151px;
	background-color: var.$accent;
	top: -1px;
	right: 0;
	z-index: -1;
	border: 1px solid var.$accent;
	border-radius: 20px 0 0 20px;
	opacity: 0;
	transition: var.$tr;
	transform: translateX(50%) scale(0);
			}
			}

&__text{
	font-weight: 200;
	font-size: 24px;
span{
	display: block;
	font-weight: 700;
	font-size: 32px;
	margin-top: 15px;
	}
		}

&__decor{
		position: absolute;
		right: -80px;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 1px solid var.$light;
		border-radius: 10px;
		transition: var.$tr;

		&::before{
			content: '';
			display: block;
			height: 151px;
			width: 80px;
			background-image: url('../images/banner-info-decor.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			top: -1px;
					}

		&::after{
			content: '';
			display: block;
			height: 151px;
			width: 80px;
			transform: translate(-50%, 0) scale(0);
			background-image: url('../images/banner-info-decor-hover.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			top: -1px;
			opacity: 0;
			transition: var.$tr;
				}
		}
		}


	// -----------banner-box
	.banner-box{
		border: 1px solid var.$light;
		border-radius: var.$br-min;
		position: relative;
		padding: 30px 332px 30px 30px;
		&__title{
			font-weight: 400;
			font-size: 24px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&__text{
			font-size: 20px;
			line-height: 150%;
		}
		&__img{
			position: absolute;
			&._electroguitar{
			top: -68px;
			right: -20px;
		}
	}
	
	}
// --------section tag---------

.tag{
	display: flex;
	gap: 64px;
	animation: move-left 20s infinite linear alternate;
	margin-top: 150px;
	margin-bottom: 150px;
	&:hover{
		animation-play-state: paused;
	}
	&__text{
font-weight: 200;
font-size: 24px;
color: var.$grey;
padding: 10px 20px;
border: 1px solid var.$grey;
border-radius: var.$br-max;
position: relative;
&::before{
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	background-color: var.$accent;
	border-radius: 100%;
	left: -40px;
	top: calc(50% - 8px);
}

	}
}
@keyframes move-left {
	0% {
		transform: translate(100%,0);
	}
	100% {
		transform: translate(-100%,0);
	}
}

// -----section course----------
.course{
	display: flex;
	gap: 70px;
	&__title{
		flex-basis: 395px;
	}
	&__title-h2{
		margin-bottom: 31px;
	}
	&__content{
		flex-basis:calc(100% - 395px - 70px);
		width: calc(100% - 395px - 70px);
	}
	&__schedule{
		margin-top: 50px;
		margin-bottom: 150px;
	}
}

// --------course-control
.course-control{
display: flex;
gap: 20px;
align-items: center;
height: 70px;
&__prev, &__next{
	width: 70px;
	height: 70px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var.$light;
	border-radius: 100%;
	right: inherit;
	left: inherit;
	position: inherit;
	transition: var.$tr;
	&:hover{
		background-color: var.$accent;
		border-color: var.$accent;
	}
	
	&::after{
		content: '';
		display: block;
		width: 49px;
		height: 24px;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
&__prev{
	&::after{
		background-image: url('../images/ui/arrow-prev.svg');
	}
	
}
&__next{
	&::after{
		background-image: url('../images/ui/arrow-next.svg');
	}
	
}
}


// --------slider-teacher
.slider-teacher{
	&__item{
		height: 707px;
		background-color: var.$dark;
		border: 1px solid var.$dark;
		border-radius: var.$br-max;;
		position: relative;
		overflow: hidden;
		transition: var.$tr;
		&:hover{
			border-color: var.$accent;
			.slider-teacher__name,
			.slider-teacher__grid
			{
				opacity: 1;
			}
		}
	}
	&__grid{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		opacity: 0;
		transition: var.$tr;
	}
	&__img{
		width: 100%;
		height: 637px;
		object-fit: cover;
		position: absolute;
		bottom: 0;
	}
	&__name{
		width: 100%;
		position: absolute;
		left: 30px;
		bottom: 30px;
		font-size: 24px;
		opacity: 0;
		transition: var.$tr;
		z-index: 1;
		&::before{
			content:'';
			display: block;
			width: 100%;
			height: 637px;
background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%);
background-repeat: no-repeat;
position: absolute;
left: -30px;
bottom: -30px;
z-index: -1;
		}
	}
}

// --------accordion
.accordion{
	&__btn{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 32px;
		font-family: inherit;
		color: var.$accent;
		font-weight: 400;
		background-color: var.$light;
		border: none;
		border-radius: var.$br-min;;
		padding: 20px 25px 20px 30px;
		margin-bottom: 24px;
		
			&::after{
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				background-repeat: no-repeat;
				background-image: url('../images/ui/minus.svg');
				background-size: contain;
			}
			&.active{
				&::after{
					background-image: url('../images/ui/plus.svg');
				}
			}
		}
	&__panel{
		max-height: 0;
		overflow: hidden;
		background-color: var.$light;
		border-radius: var.$br-min;
		transition: max-height 0.2s ease-out;
		}
&__list{
	list-style-type: none;
	padding: 30px 50px;
}
&__item{
	text-align: center;

		display: flex;
		gap: 10px;
		font-size: 24px;
		color: var.$dark;
		font-weight: 300;
		& + & {
			margin-top: 45px;
		}
		// &:not(:last-child){
		// 	margin-bottom: 30px;
		// }

	&::before{
		content: '—';
	}
}

}


// -----section steps----------
.steps {
max-width: 1920px;
margin: 0 auto;
border: 1px solid var.$light;
border-radius: var.$br-max;;
background: linear-gradient(180deg, #1F2023 0%, #7027E2 50%, #1F2023 100%);
padding-top: 150px;
padding-bottom: 150px;

	// .steps__list
	&__list {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 30px;
		margin-top: 50px;
	}

	// .steps__item

	&__item {
border-radius: var.$br-max;;
padding: 30px;
background-color: var.$light;
	}

	// .steps__icon

	&__icon {
	}

	// .steps__text
	&__text {
font-size: 16px;
line-height: 150%;
color: var.$dark;
margin-top: 20px;
	}
}
.container {
}
.title-h2 {
}

// -- -- section result -- --
.result {
margin-top: 150px;
margin-bottom: 150px;
	// .result__list

	&__list {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 30px;
		margin-top: 50px;
	}

	// .result__item

	&__item {
		background-color: var.$light;
		border-radius: var.$br-min;
		&_subgrid{
			grid-template-columns: repeat(3,1fr);
			grid-column: span 3;
			gap: 30px;
			display: grid;
			align-items: center;
			// grid-template-columns: subgrid;
			// grid-column: 2 / 5;
			// grid-template-rows: 130px;
					}
					
	}

	// .result__text

	&__text {
		display: flex;
			flex-direction: column;
			gap: 20px;
		color: var.$dark;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		padding: 30px;
		& span{
			width: fit-content;
			line-height: 1.1;
			padding: 10px;
			border-radius: 10px;
			display: block;
			background-color: var.$accent;
			font-weight: 600;
			font-size: 24px;
			color: var.$light;
		}
		
	}

	// .result__button
	&__btn{
	// grid-column: 2 / 4;
		// align-items: stretch;
	grid-column: span 2;
	background-color: var.$accent;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	background-color: var.$accent;
	color: var.$light;
	border-radius: var.$br-min;
	border: 1px solid var.$accent;
	padding: 54px;
	text-align: center;
	margin-right: 30px;
	transition: var.$tr;
	@media(hover: hover) {
		&:hover{
			background-color: transparent;
			color: var.$accent;
			transition: var.$accent;
		}
	}

	}
}

// -- -- areas -- --

.areas {
margin-bottom: 150px;
	// .areas__link
	&__link {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
font-weight: 400;
font-size: 32px;
line-height: 1.5;
color: var.$light;
border-radius: 0;
&:not(:last-child){
	border-bottom: 1px solid var.$accent;
	margin-bottom: 30px;
}
background-color: transparent;
transition: var.$tr;
&::before{
	content: '';
	position: absolute;
	display: block;
	left: 770px;
	// left: 0;
	// right: 0;
	// margin: 0 auto;
	opacity: 0;
	transform: scale(0);
	transition: var.$tr;
}
&::after{
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	background-image: url('../images/ui/arrow--rotate.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition: var.$tr;
}
&:hover{
	border-radius: 10px;
	background-color: var.$accent;
	&::after{
		transform: rotate(45deg);
	}
	&::before{
		opacity: 1;
		transform: scale(1);
	}
}

		// .areas__link_acoustic
		&_acoustic {
			&::before{
				width: 568px;
				height: 314px;
				background-image: url('../images/areas/acoustic.png');
				top: calc(50% - 150px);
			}
		}

		// .areas__link_drums
		&_drums {
			&::before{
				width: 474px;
				height: 474px;
				background-image: url('../images/areas/drums.png');
				top: calc(50% - 237px);
			}
		}

		// .areas__link_violin
		&_violin {
			&::before{
				width: 568px;
				height: 527px;
				background-image: url('../images/areas/violin.png');
				top: calc(50% - 263.5px);
			}
		}
	}

	// .areas__bas-guitar
	&__bas-guitar {
		&::before{
			width: 586px;
			height: 395px;
			background-image: url('../images/areas/bas-guitar.png');
			top: calc(50% - 197.5px);
		}
	}

	&__title{
		margin-bottom: 50px;
	}
}


// ------footer----------
.footer {
display: grid;
grid-template-columns: 1fr 450px;
gap: 10px 20px;
background: var.$dark;
padding: 30px 50px;
margin-bottom: 30px;
border-radius: var.$br-min;

	// .footer__logo

	&__logo {

		// .footer__logo_min

		&_min {
		svg{
			width: 296px;
			height: 22px;
			}
			
		}
	}

	// .footer__social

	&__social {
		justify-self: end;
	}

	// .footer__text

	&__text {
		& + &{
			margin-top: 6px;
		}
	}


	// .footer__link

	&__link {
		color: var.$accent;
		// box-shadow: 0 4px -3px var.$accent;
		border-bottom: 1px solid var.$accent;
		transition: var.$tr;
		&:hover{
			// box-shadow: 0 4px -3px transparent;
			border-bottom: 1px solid transparent;
		}
		
	}

	// .footer__copy

	&__copy {
		text-align: right;
		align-self: end;

	}
}

// -------social--------------
.social {
display: flex;
align-items: center;
justify-content: flex-end;
gap: 11px;
	// .social__link
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;		
		background-color: var.$light;
		background-repeat: no-repeat;
		width: 44px;
		height: 44px;
		border-radius: 10px;
		transition: var.$tr;
		position: relative;
		&:hover{
			background-color: var.$accent;
			&::after{
				background-color: var.$light;
			}
		}
		&::after{
			content: '';
			position: absolute;
			left: calc(50% - 13px);
			display: block;
			background-color: var.$accent;
			mask: center center/100% no-repeat;
			-webkit-mask: center center/100% no-repeat;
			transition: var.$tr;
		}

		// .social__link_wa
		&_wa {
			&::after{
				width: 27.125px;
				height: 27.125px;
				top: calc(50% - 13px);
				mask-image: url('../images/social/wa.svg');
				-webkit-mask-image: url('../images/social/wa.svg');
			}
			
		}

		// .social__link_vk
		&_vk {
			&::after{
				width: 31.25px;
				height: 18.75px;
				top: calc(50% - 9px);
				mask-image: url('../images/social/vk.svg');
				-webkit-mask-image: url('../images/social/vk.svg');

			}
		}
		// .social__link_tg

		&_tg {
			&::after{
				width: 25px;
				height: 21.88px;
				top: calc(50% - 10px);
				mask-image: url('../images/social/tg.svg');
				-webkit-mask-image: url('../images/social/tg.svg');

			}
		}
	}
}
